target/
.classpath
.project
dependency-reduced-pom.xml
*.log
*.zip
*.jar
.idea/
*.iml
.srl
distribution/third-party-notices/
site/
.output.txt
node_modules/
generated/
venv/
prod.bundle
src/main/resources/META-INF/resources/public/