models/
*.lens
certs/
*.pt
.metadata
.cache
.settings/
target/
.classpath
.project
dependency-reduced-pom.xml
*.log
*.zip
*.jar
.idea/
*.iml
.srl
distribution/third-party-notices/
files/
data/
manifest.json
__pycache__/
venv/
venv-*/
embeddings/
models/
*.pt
_training-models/
*.pt.*
*.jpeg
*.deb
temp-files/
vocab.txt
dependencies.csv
