<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Philter - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Documentation -->
      <li class="nav-item">
        <a class="nav-link" href="https://docs.philterd.ai/philter" target="_blank">
          <i class="fas fa-fw fa-book"></i>
          <span>User's Guide</span></a>
      </li>

      <!-- Nav Item - Philter Home -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.philterd.ai/philter/" target="_blank">
          <i class="fas fa-fw fa-link"></i>
          <span>Philter Home Page</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Support -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.philterd.ai/support/" target="_blank">
          <i class="fas fa-fw fa-question-circle"></i>
          <span>Support</span></a>
      </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <img src="img/philter-logo-transparent.png" style="width:140px;height:50px">
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Filter Text</h6>
                  <i class="fas fa-filter fa-2x text-gray-300"></i>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <p>Test Philter's configuration by filtering text.</p>
                    <div class="form-group">
                      <form method="post" action="/filter">
                        <input type="hidden" name="context" value="context">

                        <div class="form-group">
                          <label for="profile"><b>Policy</b></label>
                          <select id="profile" name="profile" class="form-control">
                            <option th:each="policy : ${policies}" th:value="${policy.name}" th:text="${policy.name}"></option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="text"><b>Text</b></label>
                          <textarea name="text" id="text" class="form-control">George Washington was president.</textarea>
                        </div>

                        <input type="submit" class="form-control btn btn-primary" value="Filter">
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Filtered Output</h6>
                  <i class="fas fa-file fa-2x text-gray-300"></i>
                </div>

                <!-- Filter Text Response -->
                <div class="card-body">
                  <div class="chart-area">

                    <div class="form-group">
                      <b>Filtered Text</b>
                    </div>

                    <div class="form-group">
                      <span th:text="${explainResponse?.filteredText}">title</span>
                    </div>

                    <div class="form-group">
                      <textarea readonly class="form-control jsontext" id="myTextarea" cols="30" rows="10" th:inline="text">[[${explanation}]]</textarea>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-xl-6 col-lg-7">

          <!-- Policies -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Filter PDF Document</h6>
              <i class="fas fa-file-medical-alt fa-2x text-gray-300"></i>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <p>Select a PDF document to filter.</p>

                <div class="form-group">
                  <form target="_blank" method="post" action="/pdf" enctype="multipart/form-data">
                    <input type="hidden" name="context" value="context">

                    <div class="form-group">
                      <label for="profile"><b>Policy</b></label>
                      <select id="profile" name="profile" class="form-control">
                        <option th:each="policy : ${policies}" th:value="${policy.name}" th:text="${policy.name}"></option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="file"><b>PDF Document</b></label>
                      <input type="file" class="form-control" id="file" name="file">
                    </div>

                    <input type="submit" class="form-control btn btn-primary" value="Filter">
                  </form>
                </div>

              </div>
            </div>
          </div>
              </div>

            <div class="col-xl-6 col-lg-7">
          <!-- Policies -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Policies</h6>
              <i class="fas fa-file-medical-alt fa-2x text-gray-300"></i>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <p>Policies control what and how sensitive information is redacted from text.</p>
                <p>
                <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#newFilterProfile">
                  <i class="fas fa-file-medical-alt fa-sm text-white-50"></i>&nbsp;New Policy
                </button>
                </p>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <!--<th>Filters</th>
                    <th>Enabled Filters</th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="policy : ${policies}">
                    <td><a th:href="@{/deletepolicy?(name=${policy.name})}"><button class="btn btn-danger" type="button">Delete</button></a></td>
                    <td th:text="${policy.name}">A Smoke Test'</td>
                    <!--<td th:text="${policy.filters}">A Smoke Test'</td>
                    <td th:text="${policy.enabledFilters}">A Smoke Test'</td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

              </div>
            </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-12 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Philter SDKs</h6>
                  <i class="fas fa-toolbox fa-2x text-gray-300"></i>
                </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">CLI</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Command Line</div>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <p><a href="https://github.com/philterd/philter-cli" target="_blank">https://github.com/philterd/philter-cli</a></p>
                    <p>Filter text from the command line.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SDK</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">Java</div>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <p><a href="https://github.com/philterd/philter-sdk-java" target="_blank">https://github.com/philterd/philter-sdk-java</a></p>
                    <p>Filter text from your Java apps</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SDK</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">.NET</div>
                  </div>
                  <div class="row no-gutters align-items-center">
                    <p><a href="https://github.com/philterd/philter-sdk-net" target="_blank">https://github.com/philterd/philter-sdk-net</a></p>
                    <p>Filter text from your .NET apps</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">SDK</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Golang</div>
                    </div>
                    <div class="row no-gutters align-items-center">
                      <p><a href="https://github.com/philterd/philter-sdk-golang" target="_blank">https://github.com/philterd/philter-sdk-golang</a></p>
                      <p>Filter text from your Golang apps</p>
                    </div>
                  </div>
                </div>
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <div class="col-xl-12 col-md-6 mb-4">
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <img src="img/philterd.png">
            <span>Copyright &copy; Philterd, LLC. "Philter" is a registered trademarks of Philterd, LLC.</span>
          </div>
        </div>
      </footer>
              </div>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

        <!-- Modal -->
        <div class="modal fade" id="newFilterProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <form method="post" action="/newpolicy">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="profile">Policy</label>
                  <textarea class="form-control" rows="10" name="json" id="json"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>
          </form>
        </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
